{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lileona's Black Box Investigation</title>
    <link rel="stylesheet" href="{% static 'core/style.css' %}">
  </head>
  <body>
   <h1>Black Box Investigation</h1>
<h2>By: Lileona Garcia</h2>

<h3>Background</h3>
<p>The Mystery Black Box is a big box that was presented to me and my class by our teacher.So me and my class’s goal is to try and find out the structure on the inside of the Mystery Black Box by carrying out this investigation.
<p>

<img src="{% static 'core/blackbox.JPG' %}" alt="3d Modelof our Design" width="300">

<h3>Claim</h3>
<p>Although me and my team's model didn’t represent exactly what we thought was the structure on the inside of the box we still think that this strategy is being used.Our answer is that on the inside of The Mystery Black Box there is a type of sea-saw method and a slide method kind of being used.<p>

<img src="{% static 'core/blackbox2.JPG' %}" alt="3d Modelof our Design" width="300">

<h3>Evidence</h3>
<p>The Mystery Black Box is a big box that was presented to me and my class by our teacher.  Me and my class’s initial observations about The Mystery Black Box was that when water was poured into the tube sticking out that less would come out.But then if you were to pour the same amount again this time less would come out.

Me and my team's approach to finding out what’s going on inside this box is sharing all of our theories based on the evidence that we collected so far. We were mostly trying to demonstrate that we thought inside of the black box that there was some kind of sea-saw method going on although we weren't able to demonstrate it. We tested our model by measuring water and pouring it into the hole at the top of our box, then measuring how much came out.We did this multiple times and wrote down the data.  When collecting our data we realized that if you would pour a certain amount of water inside a little less would usually come out.For example when we poured 800 ml in 790 ml came out.While when we poured 700 ml in 520 ml came out.The last text our box stated to have a lot of leakage.For example 1000 ml was poured and only 480 ml came out.Our last observation was that our project needs to be held in order to function to correctly.
</p>

<img src="{% static 'core/Lileonamaya.JPG' %}" alt="3d Modelof our Design" width="300">

<h3>Reasoning,Part 1</h3>
<p>We made our model to show what we thought the structure on the inside of the Mystery Black Box was.This model was very useful because it helped us map out and test our idea to really understand how the Black Box works. Unfortunately these models do have limitations.These limitations can be very hard to overcome. For example you can have this big idea on how something works but when you try to model it you have to make everything more simple because you don’t know how to approach your original idea.
<p>
<h3>Reasoning,Part 2</h3>
<p>I believe that on the inside of the Mystery Black Box that there is some kind of see-saw method. You should believe my claim because it is proven in the evidence or the data provided.  My evidence is very convincing because it provides all the data that we collected during our produce.
<p>

<img src="{% static 'core/Lileonaaugmented.JPG' %}" alt="3d Modelof our Design" width="300">


<h3>Reasoning,Part 3</h3>
<p>Opposing views claim that it is possible that the method we predicted was on the inside of the Mystery Black Box is not true, and that instead there was a weighing method.For example the weighing method would consist of this: the water gets weighed and a certain weight determines whether or not the water leaves the box or stays until the next trial. If this other claim was true we could have studied the amounts of water coming in and out more and the times in this experiment. The outcomes predicted by this other claim would have been the same but the process would have been different and made more sense. This means that there is a possibility that our prediction could be incorrect or partially correct.The claim that there is a possible weighing method is believable because the process of the water leaving and staying in the box just makes sense but, would be extremely hard to create.<p>
 <!DOCTYPE html>
<html>
<body>

<video width="320" autoplay muted loop>
  <source src="{% static 'core/LIleona_Recording.mp4' %}" type="video/mp4">
</video>
<h2>My Teams Black Box Data</h2>

<table style="width:100%">
  <tr>
    <th>Trials</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
</tr>
  <tr>
    <td>Amount Of Water In</td>
    <td>700ml</td>
    <td>800ml</td>
    <td>800ml</td>
    <td>800ml</td>
    <td>800ml</td>
    <td>1000ml</td>
  </tr>
  <tr>
    <td>Amount Of Water Out</td>
    <td>520ml</td>
    <td>790ml</td>
    <td>780ml</td>
    <td>775ml</td>
    <td>800ml</td>
    <td>480ml</td>
  </tr>
<tr>
    <td>Observations</td>
    <td>Needed Assistance</td>
    <td>Needed Assitance</td>
    <td>Needed Assistance</td>
    <td>Needed Assistance</td>
    <td>Needed Assitance</td>
    <td>Leakage started to take place causing less water out</td>

  </tr>
</table>
 </body>
</html>




<table style="width:100%">
  <tr>
    <th>Trials</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
</tr>
  <tr>
    <td>Volume Of Water Input(ml)</td>
    <td>1000ml</td>
    <td>1000ml</td>
    <td>800ml</td>
    <td>800ml</td>
    <td>1000ml</td>
  </tr>
  <tr>
    <td>Volume Of Water Output(ml)</td>
    <td>0ml</td>
    <td>712ml</td>
    <td>450ml</td>
    <td>630ml</td>
    <td>530ml</td>
  </tr>
<tr>
    <td>Delay(s)</td>
    <td>n/a</td>
    <td>1.38</td>
    <td>7</td>
    <td>55</td>
    <td>1.15</td>
  </tr>


</table>


 </body>
</html>



<p>Scan the QR code or click <a href="https://adobeaero.app.link/3JNmHzYg9Nb"> here</a>
To see my model in Augumented Reality<p>
<img src="{% static 'core/MyBlackBoxQRCode.png' %}"  width="200">
<br>

<h3>Modeling and Creating My 3D Model In Maya</h3>
<p>After me and my team created our project we used a program called Maya to help create a 3D model of our project.In this program we are able to create all different kinds of shapes.You can extrude and connect these shapes, you can also make them different colors.Also in this site you can make shapes of your choice move for a certain amount of time in a certain time period.Lastly we used another program called MergeEDU.com.This helped us see our model in augmented reality.Augumented reality is a mix of virtual objects and reality.In this program you can also project you design on a  cube and mode it every which way to get a full 360 view on your model.Although the finished product of our 3D model was amazing it was a a very hard process.This is because sometimes when my teacher would explains the steps it would be very hard to remeber them because there are so many button and different ways to do things.<p>

<img src="{% static 'core/Lileona_Rendered3.jpg' %}" alt="3d Modelof our Design" width="300">
<img src="{% static 'core/Newcollab.jpg' %}" alt="3d Model of our Design" width="300">
<h3>Reflection</h3>
<p>During this amazing experince my contributions to my group was helping build our box and collecting data.Something I learned from this investigation is that although Maya is a very fun website to explore on it can be very confusing.I also learned that collaboration and communication is extremely important in groups.I think creating this my black box on Maya went pretty well for me.I struggled a lot with adding and fixing code on my website.I think next project I can do better with planning out my experiment and deciding wether or not the idea will be possible for me to complete with my group when it comes to building. <p>




