{% load static %}
<!DOCTYPE html>
<!--
    Anything you put in between the double-dash arrow symbols shown around
    this block of text is designated a 'comment' intended for human coders
    and ignored by the computer. The top "<!DOCTYPE html>" line of code
    declares that this text file is to be interpreted as HTML code.
-->

<html lang=en>
<!--
    This opening tag marks the start of the html code.  Everything below
    until the </html> closing tag is part of this element. "lang" is an
    attribute defining the language of the website. The value "en"
    indicates this site is written in English. We indent the content
    inside an element to make it easier for people to read and understand.
-->

    <head>
    <!--Code about the website NOT displayed in the browser window.-->

        <meta charset="UTF-8"> <!--Sets site to use standard characters.-->

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Sizes your site to the visitor's screen size -->

        <meta name="author" content="Your Name">
        <!--
            Some tags like "meta" are self-closing. They have "attributes"
            but no inner content and they don't need or use a closing tag.
        -->

        <title>Lileona's Screenprinting Project</title>
        <!--The 'title' is what's displayed in the browser tab.-->

        <link rel="stylesheet" href="{% static 'core/style.css' %}">
        <!--
            HTML (HyperText Markup Language) code is for the website
            content. CSS (Cascading Style Sheets) code is for the website
            style. The line above tells the browser the file location and
            file name to find this code that you'll write/edit there.
        -->

    </head>

    <body> <!--Everything to be displayed in the browser window.-->

        <h1>Lileona's Screenprinting Project</h1>
        <p>On this website I will be sharing with you my process for completeing this project!</p>
 <p>By:Lileona Garcia</p>
       <h1>The Requirements</h1>

       <p>In my New Media and Tech class which is kind of like a more advanced art class or STEM class we were introduced to something called Screen Printing. Screen Printing is like a different method of printing when you transfer a design onto something using mesh, a squeegee and paint.The conditions of this project was that we had to take a picture of one of our body parts, put it in different editing programs to make it only one or two colors and to get rid of all the detail. After finishing planning out your idea and editing it we had to print them out using a special printer, then we had to create frames with mesh attached to them which we would later iron on our printed ideas. Lastly we picked our colors and squeezed them onto our paper.
</p>
<img src="{% static 'core/screenprintex.JPG' %}" alt="Example of Screenprinting with labels" width="200">

         <h1>Brainstorming Ideas
</h1>

       <p>At the beginning of this project the first and really important step was choosing what body part I would take a picture of. So out of all my body parts I chose to take a picture of my eye. The reason I chose to take a photo of my eye out of all my body parts was because I think my eyes are very nice looking, and that it would be interesting to add something into my eye.Also from the start I knew I wanted to incorporate a flower in my idea, so I would most likely add it into my pupil.
<p>
<img src="{% static 'core/drawing.JPG' %}" alt="My sketch of my original idea." width="200">

     <h1>How to Execute this idea
</h1>

       <p>I took my picture by using the flash in the darkest part of my classroom and zooming in extremely close to my eye. Then I took a photo of a beautiful flower off the internet and inserted it into my picture while on Adobe Photoshop. Using this program I was able to make different layers from the one picture of my eye meaning I can edit each little detail in my picture to my liking. Next I made it appear that instead of a pupil I had a flower in my eye.
<p>
<img src="{% static 'core/ogeye.JPG' %}" alt="My uncolored edited photo" width="200">

     <h1>Adding Text
</h1>

       <p>One of my favorite parts was choosing the words and color that would appear on my picture.The quote I ended up choosing was “Beauty is in the eye of the beholder”. I chose this quote because it is one of my favorite quotes and also felt perfect for this project.To add this text on my picture I used the Freeform Pen Tool on the program Adobe Illustrator to draw a curved freestyle line under my eye.I then clicked the Text Tool and dragged it onto the line and then I was able to type on my text following the freestyled line.

<p>
  <h1>Bringing My Idea to Life
</h1>

       <p>Now for the color I chose light and dark magenta and white. Now the next step for me was to create my frame, since I have two colors (light and dark magenta) I needed two frames. The light magenta was used to color the flower on the inside of my eye and the words while the dark magenta was used for my hair,eyelashes,eyebrows,eye,and the contour of my nose.
<p>

<img src"{% static 'core/coloredeye.jpg' %}" alt="My fulled edited and fully colored photo" width="200">

<h1>Creating Frames
</h1>

       <p>Because most of my picture was dark magenta and there wasn't a lot of light magenta the frames will be two different sizes, light magenta will be smaller while the dark magenta will be larger. After putting my measurements on the pieces of wood I then started to cut out my pieces with a tool called a Miter Saw.The next step was to use a staple gun and wood glue to attach the pieces together and complete my frames.The last step of this portion was to staple on mesh sheet to the frames and make sure they were extremely tight!
<p>
<img src="{% static 'core/sawmachine.JPG' %}" alt="Me using a Miter Saw to cut my frames." width="200">

<h1>Printing Out My Idea & Attaching It To The Frame
</h1>

       <p>To print out my idea on the special type of paper I added my edited idea into a program called Silhouette Studios.When adding you idea into this app you can connect it to a type of printer with a knife that cuts out your design. And this is exactly what we did.After printing it out we then have to carefully remove the cut out pieces that are meant to be painted so that the paint can seep through those holes.Now that we've done this step the next step is to iron the printed idea onto the mesh of our frames.Once this is done we are ready to paint!!
<p>
<img src="{% static 'core/heatpress.JPG' %}" alt="Using a heatpress to transfer the vinyl stencil to the mesh" width="200">
<img src="{% static 'core/frames.JPG' %}" alt="My finished frames." width="200">

<h1>Painting My Idea
</h1>

       <p>The first step when it comes to actually painting/printing your idea onto a sheet of paper is the clamp your frame onto the table(this is so it doesn't move while printing).Then you put your piece of paper directly under the frames,dab your paint on one side of the frame(on the top of the printed out idea)and use a type of squeegee to spread the paint evenly.But because I used two colors instead of one I had to line up my other frames perfectly and repeat these steps just with a different color.The last and final step is to replace the piece of paper with a piece of fabric and do the excat same thing tat you did with the paper.Now you are done!
<p>
<img src="{% static 'core/painting.JPG' %}" alt="Me mixing colors to get the perfect color for my print.="200">
<img src="{% static 'core/fabric.JPG' %}" alt="My finished print on fabric." width="200">
<h1>Reflection
</h1>

       <p>I think this project was extremely fun although there were some challenges. One of these challenges was removings the small little details off of my printed idea. This was challenging because there were a lot of small little lines and it was very time consuming.But I got it done by just focusing and taking my time. During this project I think I was best at building the frames(cutting,gluing,stapling together,stapling mesh) and because of this I made sure to help lots of my peers that were doing this step.Also I would definitely see myself using everything i’ve learned while doing this project to design my own t-shirts or sweat shirts.
<p>
<h1>Credits
</h1>

       <caption>Image from <a href="https://www.alphagraphics.com/us-tennessee-nashville-us731/blog/blog-list/2018/07/how-it-works-screen-printing-and-the-history-behind-it">Alpha Credits</a></caption>
<p>
</html>
